body {
	width: 100%;
}

h1 {
	font-family: 'PT Sans', sans-serif;
}

h3 a{
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}

p {
	padding-left: 20px;
}
footer {
	position: fixed;
	bottom:0;
}
