@media screen and (min-width: 700px) {


html {
	margin: 0;
	padding: 0;
    width: 100%;
}

body {
	background-color: white;
    background-size: 100%;
    clear: both;
    color: #0f0f0f;
    float: left;
    font-family: raleway;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width:100%;
}

a {
    color: #2F8CB8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
	line-height: 1.4em;
    margin: 0 5% 0 auto;
    width: 90%;
}

div {
}

h1, h2, h3, h4 {
    margin: 0;
}

h3{
    padding: 15% 0 5% 5%;
}

ul {
    list-style-type: none;
    padding: 0;
}

header {
	background-color: white;
	font-size: 1em;
    height: 4em;
    margin-right: auto;
    margin-left: 0px;
    position: fixed;
    top: 0;
    vertical-align: 50%;
    width:100%;
    z-index: 1;
    
}

header h1 {

}

header h2 {
    font-weight: normal;
}

header[role=banner] {
	text-align: right;
    margin: .1em 0 0 0
    top = 0;
}

.page-wrapper {
    position: relative;
}

.intro {
}

.summary {
	background-image: url('./img/parrot-body.jpg');
	background-size: 100% 100%;
	color: white;
    height: 0%;     
    margin-top: 4em;
	padding-top: 25%;
    z-index: 2;
}


.summary a {
    color: white;
    border-bottom: 1.5px solid white;
}

.summary p  {
    font-size: 2.0em;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}
.summary p:last-child {
    padding-bottom: 5%;
}

.preamble {
    background-image: url('./img/telephone-booth.jpg');
    background-position: left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    padding-left: 50%;
}

.preamble p {
    padding-bottom: 5%;
}

.preamble p:last-child {
    padding-bottom: 15%;
}

.explanation {
    background-image: url('./img/ferris-wheel.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    padding-right: 50%;
    overflow: hidden;
}

.explanation p {
    padding-bottom: 10%;
}

.participation {
    background-image: url('./img/space-station.jpg');
    background-position: left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
    padding-left: 50%;
    overflow: hidden;
}

/*.participation h3{
    padding: 10% 0 1% 5%;
}*/

.participation p {
    padding-bottom: 5%;
}

.participation p:last-child {
    padding-bottom: 10%;
}

.benefits {
    background-image: url('./img/raspberries.jpg');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    overflow: hidden;
    padding-right: 50%;
}

.benefits p {
    padding-bottom: 5%;
}

.benefits p:last-child {
    padding-bottom: 20%;
}

.requirements {
    background-image: url('./img/balloon.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    overflow: hidden;
    padding-left: 50%;
}

.requirements p : nth-child(-n+3) {
    padding-bottom: 5%;
}

.requirements  p:last-child {
    padding-bottom: 10%;
    
}

/*.sidebar {
    background-color: white;
    bottom: 0;
    font-size: .75em;
    height: 700px;
    left: -600px;
    line-height: 1em;
    padding-top: 8%;
    position: absolute;
    width: 650px;

}
.sidebar:hover {
    left: 0px;
}*/
.sidebar {
    text-align: center;
    text-decoration: none;
    position: relative;
    bottom: 0;
    width: 100%;
}
.design-selection {
    float: left;
    width: 50%;
}

.design-archives {
    float: right;
    width: 50%;
    height: 35%;
}

.zen-resources {
    float: right;
    width: 50%;
    height: 65%;
}
.wrapper {
    height: 100%;
    position: relative;
    /*background-image: url('./img/parrot-footer.jpg');*/
    
    
}
.wrapper h3 {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #E3B730;
    color: #2F8CB8;
    padding: 1em;
    text-align: center;
    word-spacing: 2em;
}

footer a {
    
    /*text-decoration: underline;*/
    border-bottom: 1.5px solid #2F8CB8;
}

footer a:hover {
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2.5px solid #2F8CB8;
}

}/*desktop screen*/
